#COMMON
ambiente=homol
interval_ms=15000
ispbs=78632767

#HOMOL
query_string_homol=mongodb://spi_oiv_hml:SRysz87z05qE@10.204.156.3:27017/?directConnection=true&authSource=SPI_78632767_HM
database_homol=SPI_78632767_HM

#PROD
query_string_prod=mongodb://spi_oiv_prd:1yOiN42KGmtuK9TIK@10.204.157.3:27017/?directConnection=true&authSource=SPI_78632767_PR
database_prod=SPI_78632767_PR